.primerfondo  {
    background-color: black;
    color: ghostwhite;
    text-decoration: none;
    font-family: "Noto Sans";
    margin-top: -10px;
    margin-left: -10px;
}
.primerfondo ul li a{
    color: white;
}
.fondo {
    background-image: url("../fotos/wolf-1341881.jpg");
    background-size: cover;
    padding: 100px;
    margin-left: -20px;
    margin-top: -5px;
}
.segundofondo{

    background-size: cover;
    width: 2000px;
}
body{
    background: aliceblue;
    color: black;
}
h1{
    text-align: center;
    font-size: 50pt;
    font-family: sans-serif;
    text-shadow: 10px 11px 18px rgba(300, 180, 100, 1),
    -10px -11px 18px darkred;
    margin: inherit;
}
.botones{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 5px;
}
.doscajas{
    display: flex;
    justify-content: space-around;
}
.biblio{
    border: solid  lightblue;
    background: aqua;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
            "titol text"
            "titol text1";
    margin-top: 15px;
}
.titol{
    grid-area: titol;
}
.text{
    grid-area: text;
}
.text1{
    grid-area: text1;
}
a{
    color: black;
    text-decoration: none;
}
@media only screen and (max-width: 800px) {
    .doscajas{
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color:black;
        color: white;
    }}

.licencia{
    border: solid lightblue;
    background: aquamarine;
}
.licencia h2{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.licencia p{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.licencia li  {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    color: black;
    text-decoration: none;
}
.licencia a  {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    color: black;
    text-decoration: none;
}
.licencia ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.licencia ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}




